<!doctype html>
<html>
    <head></head>
    <body>
        {{#block "header" }}
            <h1>Title</h1> This
        {{/block}}

        {{#block "content" }}
            <p>default content</p>
        {{/block}}

        {{#block "footer" }}
            <p>Powered by Handlebars.java</p>
        {{/block}}
    </body>
</html>
